body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #fff;
	background-color: #002D72;
	text-align: center;
}

main {
	padding-bottom: 1em;
}

p {
	letter-spacing: 0;
	font-size: 12pt;
	text-align: left;
}

strong, .font-weight-bold {
	letter-spacing: .05em;
}

.hero {
	background-color: #fff;
	color: #002D72;
	padding: 2em 0;
}

.hero > h1 {
	font-size: 50px;
	font-weight: 700;
}

.the-answer {
	font-size: 100px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 10px;
	color: #043673;
	text-shadow: 4px 5px #DA3248;
}

.tab-buttons {
	padding-top: 1em;
	background-color: #13294B;
}

.tab-buttons li {
	float: left;
	margin-left: 1em;
	margin-right: 1em;
	list-style-type: none;
}

.underline-blue-dark {
    background-image: linear-gradient(to top, #DA3248 0.75ex, hsla(0, 0%, 0%, 0) 0.75ex);
	background-position-y: -0.15ex;
}

.underline-blue-dark-small {
    background-image: linear-gradient(to top, #DA3248 0.5ex, hsla(0, 0%, 0%, 0) 0.5ex);
	background-position-y: -0.15ex;
}

.tab-section {
	max-width: 1100px;
	padding-bottom: 1em;
	margin: 0 auto;
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-left);
}

.tab-section:last-child {
	padding-bottom: env(safe-area-inset-bottom);;
}

.tab-content {
	padding: 0 1em;
}

.tab-content hr {
	max-width: 1100px;
}

ol, p {
	text-align: left;
}
p a, li a {
	color: #fff;
	text-decoration: underline;
}

p a:hover, li a:hover {
	color: #fff;
	text-decoration: none;
}

.card {
	color: #000;
	text-align: left;
}

.card strong, .card .font-weight-bold, a {
	color: #002D72;
}

.card a {
	text-decoration: underline;
}

.card a:hover {
	color: #13294B!important;
	text-decoration: none;
}

.card-title {
	font-weight: 700;
}

.probability-graph {
	width: 100%;
	max-width: 984px;
}

ul.tabs {
	justify-content: center;
    display: flex;
}

.tab-section:first-child {
	padding-top: 1em;
	display: block;
}

.tab-section:not(:first-child) {
	padding-top: 1em;
	display: block;
}

.tab-section.active {
	display: block;
}

ul.tabs {
	font-size: 14pt;
}

ul.tabs li.active a {
	background-image: linear-gradient(to top, #DA3248 0.75ex, hsla(0, 0%, 0%, 0) 0.75ex)!important;
	background-position-y: -0.15ex;
	text-decoration: none;
}

ul.tabs li a {
	color: #fff;
}

ul.tabs li.active a:hover {
	color: #fff;
	background-image:none;
	text-decoration: none;
}

ul.tabs li a:hover {
	color: #fff;
	background-image: linear-gradient(to top, #DA3248 0.75ex, hsla(0, 0%, 0%, 0) 0.75ex);
	background-position-y: -0.15ex;
	text-decoration: none;
}
@media (hover: none) {
	ul.tabs li a {
		background-image: none !important;
		text-decoration: underline !important;
	}
	ul.tabs li.active a {
		background-image: linear-gradient(to top, #DA3248 0.75ex, hsla(0, 0%, 0%, 0) 0.75ex)!important;
		background-position-y: -0.15ex !important;
		text-decoration: none !important;
	}
 }

hr {
	background-color: #fff;
	margin: 0 auto;
}
.fb-share-button {
	margin-top: 10px;
}

/** Social Media Share Buttons **/
/** https://sharingbuttons.io/ **/
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em .25em;
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1em;
}

.resp-sharing-button__icon svg {
  width: 1.7em;
  height: 1.7em;
  margin-right: 0.4em;
  vertical-align: top;
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}
.resp-sharing-button--small .resp-sharing-button-text {
	display: none;
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}

.anchor {
	position: relative;
	top: -60px;
}
footer {
	background: #13294B;
	border-top: 1px solid white;
}
footer > a {
	color: white;
	text-decoration: underline;
}
footer > a:hover {
	color: white;
	text-decoration: none;
}
